*{
margin: 0;
padding: 0;
}
body{
     background:linear-gradient(to left, rgba(0,0,0,0.9)100% ,rgba(0,0,0,0.7)100%),url("plant.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
.main{
    width: 100%;
    /* background:linear-gradient(to left, rgba(0,0,0,0.9)100% ,rgba(0,0,0,0.9)100%),url(plant.jpg); */
    background-position: center;
    background-size: cover;
    height: 109vh;
}
header{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.navbar {
    width: 1220px;
    height: 75px;
    margin: auto;
    column-gap: 100px;
    background-attachment: fixed;
}
.menu{
    width: 330px;
    height: 80px;
    float: left; 
    }
.icon{
    bottom: 0px;
    width: 69px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
    margin-left:-100px;
}
ul li{
    list-style: none;
    margin-left: 3px;
    margin-top: 71px;
    font-size: 16px;
}

@media screen and (min-width: 830px) and (max-width: 1200px) {
    /* Normal Screen */
   .logo{
        margin-left: 10px;
    }
    .menu{
        margin-left: 97px;
        margin-top: -8px;
    }
    ul{
        gap: 106px;
    }
    ul li a{
        font-size: 20px;
    }
    .single-line-text {
   white-space: nowrap; /* Prevents text from wrapping */
   overflow: hidden;   /* Hides any overflowed content */
   text-overflow: ellipsis; /* Displays an ellipsis (...) when content overflows */
   }
  .blogs h2 {
    margin-left: 445px;
    }
  .blogs-layer h4 {
    margin-left: 292px;
    padding-left: 0px;
    width: 877px;
}
   .blog-container p {
    margin-left: -124px;
    margin-right: -438px;
   }
   .blog-c1 img {
    width: 453px;
    height: 280px;
    margin-right: -374px;
    float: right;
    margin-top: 9px;
}
    .blog-c1 p {
    margin-left: -142px;
        margin-right: -381px;
    }
    .blog-c2 p{
    padding-left: 387px;
    margin-left: -530px;
    margin-right: -405px;
    padding-right: 30px;
   }
   .blog-c3 img {
    height: 380px;
    width: 660px;
    margin-left: -142px;
    margin-top: 1px;
    }
    .blog-c3 p {
    margin-bottom: -15px;
    padding-left: 500px;
    font-size: 26.7px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: -654px;
    margin-right: -377px;
    }
   .blog-container img {
        height: 356px;
            width: 428px;
    margin-left: 377px;
    margin-top: 20px;
}
  .blog-container{
    gap: 1.9rem;
    margin-left: -20px;
    padding-left: 0px;
    }
    .icons ion-icon{
    padding-left: 30px;
    }
    .form {
    width: 1200px;
   margin-top: 32px;
    left: 34px;
    }
  .form h2{
    margin-left: 385px;
    }   
}






