*{
margin: 0;
padding: 0;
}
body{
     background:linear-gradient(to left, rgba(0,0,0,0.9)100% ,rgba(0,0,0,0.7)100%),url("plant.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
.main{
    width: 100%;
    /* background:linear-gradient(to left, rgba(0,0,0,0.9)100% ,rgba(0,0,0,0.9)100%),url(plant.jpg); */
    background-position: center;
    background-size: cover;
    height: 109vh;
}
header{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.navbar {
    width: 1220px;
    height: 75px;
    margin: auto;
    column-gap: 100px;
    background-attachment: fixed;
}
.menu{
    width: 330px;
    height: 80px;
    float: left; 
    }
.icon{
    bottom: 0px;
    width: 69px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
    margin-left:-100px;
}

@media screen and (min-width: 830px) and (max-width: 1200px) {
    /* Normal Screen */
   .logo{
        margin-left: 10px;
    }
    .menu{
        margin-left: 97px;
        margin-top: -8px;
    }
    ul{
        gap: 106px;
    }
    ul li a{
        font-size: 20px;
    }
    .single-line-text {
   white-space: nowrap; /* Prevents text from wrapping */
   overflow: hidden;   /* Hides any overflowed content */
   text-overflow: ellipsis; /* Displays an ellipsis (...) when content overflows */
   }
  .blogs h2 {
    margin-left: 445px;
    }
  .blogs-layer h4 {
    margin-left: 292px;
    padding-left: 0px;
    width: 877px;
}
   .blog-container p {
    margin-left: -124px;
    margin-right: -438px;
   }
   .blog-c1 img {
    width: 453px;
    height: 280px;
    margin-right: -374px;
    float: right;
    margin-top: 9px;
}
    .blog-c1 p {
    margin-left: -142px;
        margin-right: -381px;
    }
    .blog-c2 p{
    padding-left: 387px;
    margin-left: -530px;
    margin-right: -405px;
    padding-right: 30px;
   }
   .blog-c3 img {
    height: 380px;
    width: 660px;
    margin-left: -142px;
    margin-top: 1px;
    }
    .blog-c3 p {
    margin-bottom: -15px;
    padding-left: 500px;
    font-size: 26.7px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: -654px;
    margin-right: -377px;
    }
   .blog-container img {
        height: 356px;
            width: 428px;
    margin-left: 377px;
    margin-top: 20px;
}
  .blog-container{
    gap: 1.9rem;
    margin-left: -20px;
    padding-left: 0px;
    }
    .icons ion-icon{
    padding-left: 30px;
    }
    .form {
    width: 1200px;
   margin-top: 32px;
    left: 34px;
    }
  .form h2{
    margin-left: 385px;
    }   
}
@media screen and (max-width: 451px){
    /*mobile*/
    .logo{
        position: fixed;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .menu{
        margin-top: 28px;
    }
     .hamburger{
        z-index: 9;
        position: fixed;
        display: block;
    }
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }     
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

     .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background:linear-gradient(to left, rgba(0,0,0,0.8)100% ,rgba(0,0,0,0.9)100%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 46px 10px;
        margin-top: 15rem;
    }
    ul li a{
        font-size: 52px;
    }

    .nav-menu.active{
        position: fixed;
        z-index: 9;
        left: 0px;
        top: 0px;
        gap: 1px;
        height: 100%;
    }
    .bar{
    width: 95px;
    height: 28px;
    margin-left: 1050px;
    }
    .blog-container img {
    height: 578px;
    width: 676px;
    margin-left: 153px;
    margin-top: 0px;
}
    .blog-container p {
    font-size: 56.7px;
    margin-left: -162px;
    margin-right: -220px;
    padding-left: 150px;
    margin-top: 30px;
    }
    .blog-c1 img {
    width: 961px;
    height: 602px;
    margin-left: -41px;
    margin-top: 100px;
    float: none;
    }
    .blog-c1 p {
    font-size: 56.7px;
    margin-left: -197px;
    margin-right: -824px;
    padding-left: 101px;
    }
    .blog-c2 p {
    font-size: 56.7px;
    margin-left: -164px;
    margin-right: -844px;
    padding-left: 101px;
    }
    .blog-c3 img {
    height: 538px;
    width: 988px;
   margin-left: -65px;
    margin-top: 29px;
    margin-bottom: 39px;
    }     
    .blog-c3 p {
    font-size: 56.7px;
    margin-left: -200px;
    margin-right: -812px;
    padding-left: 101px;
    }
    .blogs{
        margin-left: 180px;
    }
    .blog-container {
    width: 100px;
    top: 20px;
    left: -73px;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    }
    .blogs h2 {
    margin-bottom: 32px;
    margin-left: 305px;
    font-size: 81px;
    margin-top: 3rem;
    }
    .blog-container .blogs-box {
        width: 1000px;
        margin-bottom: 70px;
    }
    .blogs-box .blogs-layer {
        transform: translateY(91%);
    }
   .blogs-layer h4 {
    font-size: 4.1rem;
    margin-bottom: 50px;
        width: 1022px;
      margin-left: -27px;
}
    .blogs-layer p {
    font-size: 60.5px;
    }
    .form {
    top: -16px;
    left: 435px;
    padding:9px;
    }

    .icons ion-icon {
    width: 50px;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: -10px;
    }
    .form h2 {
        margin-top: -10px;
        width: 835px;
        font-size: 60px;
        margin-left: -258px;
    }
}





