*{
margin: 0;
padding: 0;
}
body{
     background-image: url("plant.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
header{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.navbar {
    width: 1220px;
    height: 75px;
    margin: auto;
    column-gap: 100px;
    background-attachment: fixed;
}
.menu{
    width: 330px;
    height: 80px;
    float: left; 
    }
.icon{
    bottom: 0px;
    width: 69px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
    margin-left:-100px;
}






